@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Poppins:wght@100;400;500;600;700;900&family=Roboto:wght@100;400;500;700;900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", "Montserrat", "Poppins";
}

body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100dvh;
  width: 100dvw;
  background-image: url(Imagenes/fondo-1.png);
  background-repeat: no-repeat;
  border: none;
  background-size: cover;
}

.filter {
  height: 100dvh;
  width: 100dvw;
  background: -webkit-linear-gradient(
    to top,
    rgba(2, 3, 19, 0.63) 45%,
    rgba(87, 89, 127, 0.63) 82%
  );
  background: -moz-linear-gradient(
    to top,
    rgba(2, 3, 19, 0.63) 45%,
    rgba(87, 89, 127, 0.63) 82%
  );
  background: linear-gradient(
    to top,
    rgba(2, 3, 19, 0.63) 45%,
    rgba(87, 89, 127, 0.63) 82%
  );
}

.layout {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-box {
  height: 80dvh;
  width: 55dvw;
  background-color: rgba(22, 43, 73, 0.549);
  border-width: 0;
  border-radius: 1rem;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
}

.img-box {
  height: auto;
  width: 40%;
}

.img-box img {
  border-radius: 1rem 0 0 1rem;
  width: 100%;
  height: 100%;
}

.content-speech-box {
  width: 57%;
  height: 100%;
  background-color: rgba(87, 89, 127, 0.9);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-speech-box header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.texto,
.icono {
  display: inherit;
  width: 50%;
  padding: 0.5rem 0.5rem;
}

.texto {
  justify-content: flex-start;
}

.icono {
  justify-content: flex-end;
}

.speech-space form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

form .row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form .row h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

form .row textarea {
  height: 30dvh;
  width: 28dvw;
  font-family: "Roboto";
  font-size: 0.9rem;
  color: #ffffff;
  background-color: rgba(38, 52, 89, 0.8);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
  border: none;
  resize: none;
  border-radius: 0.6rem;
  outline: 0;
}

form .row textarea::placeholder {
  font-size: 1rem;
  color: rgb(117, 117, 117);
}

form .row textarea::-webkit-scrollbar {
  width: 0px;
}

#voz {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.outro {
  display: flex;
}

form .row select {
  padding: 0 .4rem;
  height: 1.8rem;
  width: 25dvw;
  border: none;
  border-radius: 0.45rem;
  outline: 0;
  appearance: none;
}

form .row select::-webkit-scrollbar {
  width: 0.2rem;
}

form .row select::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

form .butom {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  align-items: center;
  width: max-content;
  padding: 10px;
  cursor: pointer;
  border-radius: 1rem;
  margin-bottom: .5rem;
}

form button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 90, 205);
  border: 0.05rem solid rgb(29, 64, 152);
  transition: ease .35s;
}


/* Responsive */


@media (max-width: 575.98px) {
  .speech-box {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .content-speech-box{
    min-width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 1rem;
  }

  .img-box{
    display: none;
  }

  .speech-space {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .speech-space form{
    display: flex;
    width: 90%;
  }

  form .row {
    width: 90%;
  }

  form .row textarea {
    width: 100%;
  }

  form .row .outro {
    width: 100%;
  }

  form .row select {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .speech-box {
    
    display: flex;
  }

  .content-speech-box{
    min-width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 1rem;
  }
  
  .img-box{
    display: none;
  }

  .speech-space {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  
  .speech-space form{
    display: flex;
    width: 90%;
  }
  
  form .row {
    width: 90%;
  }
  
  form .row textarea {
    width: 100%;
  }
  
  form .row .outro {
    width: 100%;
  }
  
  form .row select {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .speech-box {
    display: flex;
  }

  .content-speech-box{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 1rem;
  }
  
  .img-box{
    display: none;
  }

  .speech-space {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  
  .speech-space form{
    display: flex;
    width: 95%;
  }
  
  form .row {
    width: 90%;
  }
  
  form .row textarea {
    width: 100%;
  }
  
  form .row .outro {
    width: 100%;
  }
  
  form .row select {
    width: 100%;
  }
}

/* Landscape mobile */

@media (max-height: 450px) {
    .speech-box {
      width: 80%;
      display: flex;
      flex-direction: row;
    }

    .speech-space form {
      flex-direction: row;
    }

}
